{% extends "base.html" %}

{% block title %}Logowanie - Mapa Turystyczna{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<div class="register-container">
        <h2>Zaloguj się</h2>
        <form method="POST">
            <input type="text" name="username" placeholder="Nazwa użytkownika" required>
            <input type="password" name="password" placeholder="Hasło" required>
            <button type="submit">Zaloguj się</button>
        </form>
        <a href="{{ url_for('register') }}" class="login-btn">Nie masz konta? Zarejestruj się!</a>
    </div>
{% endblock %}
