{% extends "base.html" %}

{% block title %}Rejestracja - Mapa Turystyczna{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<div class="register-container">
    <h2>Zarejestruj się</h2>
    <form method="POST">
        <input type="text" name="username" placeholder="Nazwa użytkownika" required>
        <input type="password" name="password" placeholder="Hasło" required>
        <button type="submit">Zarejestruj się</button>
    </form>
    <a href="{{ url_for('login') }}" class="login-btn">Masz już konto? Zaloguj się</a>
</div>
{% endblock %}
