{% extends "base.html" %}

{% block title %}Pogoda - {{ location }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mb-4">Prognoza pogody - {{ location }}</h1>
            <section id="weather">
                <h2>Aktualna Pogoda - {{ location }}</h2>
                <div class="row text-center mb-4">
                    <div class="col"><strong>Temperatura:</strong> {{ temperature }}°C</div>
                    <div class="col"><strong>Zachmurzenie:</strong> {{ cloud_cover }}</div>
                    <div class="col"><strong>Wiatr:</strong> {{ wind }} km/h</div>
                    <div class="col"><strong>Pokrywa śnieżna:</strong> {{ snow_depth }} cm</div>
                </div>
            </section>
            <section id="forecast">
                <h2>Prognoza na 3 dni</h2>
                <div class="text-center mb-4">
                    <img src="data:image/png;base64,{{ temperature_ }}" alt="Wykres temperatury" class="img-fluid">
                </div>
                <div class="text-center mb-4">
                    <img src="data:image/png;base64,{{ wind_ }}" alt="Wykres wiatru" class="img-fluid">
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th>Data</th>
                                <th>Temperatura (°C)</th>
                                <th>Opady (mm)</th>
                                <th>Prędkość wiatru (m/s)</th>
                                <th>Zachmurzenie (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, row in forecast.iterrows() %}
                                <tr>
                                    <td>{{ row['date'].strftime('%Y-%m-%d %H:%M') }}</td>
                                    <td>{{ row['temperature_2m'] }}</td>
                                    <td>{{ row['precipitation_probability'] }}</td>
                                    <td>{{ row['wind_speed_10m'] }}</td>
                                    <td>{{ row['cloud_cover'] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
